[mysqld]
max_allowed_packet      = 64M
query_cache_size        = 128M
query_cache_limit       = 16M

table_open_cache        = 65535
table_cache             = 65535

tmp_table_size          = 256M
max_heap_table_size     = 256M

key_buffer_size         = 128M
join_buffer_size        = 64M
sort_buffer_size        = 4M
read_buffer_size        = 4M
read_rnd_buffer_size    = 8M
myisam_sort_buffer_size = 64M

thread_cache_size         = 8
thread_concurrency        = 8
innodb_thread_concurrency = 8

innodb_buffer_pool_size = 8G
innodb_log_file_size    = 256M
innodb_log_buffer_size  = 4M
innodb_flush_method     = O_DIRECT
innodb_file_per_table

