[mysqld]
bind-address=0.0.0.0
character-set-server = utf8
port      = 3306
language  = /usr/share/mysql/english
skip-external-locking
slave-skip-errors = 1062 1007

slow-query-log = 1
slow-query-log-file = /var/lib/mysql/mysql-slow.log
long-query-time = 2
log-queries-not-using-indexes

log_bin     = /var/lib/mysql/mysql-bin.log
relay_log   = /var/lib/mysql/mysql-relay-bin.log
