#=============================================================================
# MySQL Client Utilities
#
# http://dev.mysql.com/doc/refman/5.0/en/programs-client.html
#=============================================================================

##
# The [client] option group is read by all client utilities
#
[client]

port = 3306
socket = /opt/local/var/run/mysql5/mysqld.sock

##
# MySQL Command-Line Tool
# http://dev.mysql.com/doc/refman/5.0/en/mysql-command-options.html
#
[mysql]

# Allow only UPDATE and DELETE statements that specify key values
# Remove the next comment character if you are not familiar with SQL
#safe-updates

# Disable automatic rehashing
skip-auto-rehash


##
# Client for Administering a MySQL Server
# http://dev.mysql.com/doc/refman/5.0/en/mysqladmin.html
#
[mysqladmin]


##
# A Table Maintenance Utility
# http://dev.mysql.com/doc/refman/5.0/en/mysqlcheck.html
#
[mysqlcheck]


##
# Database Backup Utility
# http://dev.mysql.com/doc/refman/5.0/en/mysqldump.html
#
[mysqldump]

# Maximum packet length to send to or receive from the server
max_allowed_packet = 16M

# Retrieve rows for a table from the server a row at a time
quick


##
# Database Backup Utility
# http://dev.mysql.com/doc/refman/5.0/en/mysqlhotcopy.html
#
[mysqlhotcopy]


##
# Data Import Utility
# http://dev.mysql.com/doc/refman/5.0/en/mysqlimport.html
#
[mysqlimport]


##
# Display Database, Table, and Column Information
# http://dev.mysql.com/doc/refman/5.0/en/mysqlshow.html
#
[mysqlshow]
