[mysqld]
# default_storage_engine = InnoDB
# read_rnd_buffer_size = 1M
# table_cache = 800
binlog_format = MIXED
innodb_adaptive_flushing_method = keep_average
innodb_additional_mem_pool_size = 2G
innodb_autoinc_lock_mode = 2
innodb_buffer_pool_instances = 8
innodb_buffer_pool_size = 512M
innodb_doublewrite = 0
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT
innodb_io_capacity = 400
innodb_log_buffer_size = 128M
innodb_log_file_size = 50M
innodb_open_files = 400
join_buffer_size = 64M
key_buffer_size = 128M
max_heap_table_size = 256M
myisam_sort_buffer_size = 512M
query_cache_limit = 64M
query_cache_size = 128M
sort_buffer_size = 256K
table_open_cache = 400
thread_handling = pool-of-threads
tmp_table_size = 128M
