[mysqld]
ft_min_word_len=3
skip_grant_tables
skip_slave_start

;default-time-zone='UTC'
table_cache=500
tmp_table_size=256000000
max_heap_table_size=256000000
key_buffer_size=256000000
max_allowed_packet=512M

skip_innodb_doublewrite
innodb_buffer_pool_size=256000000
innodb_flush_method=O_DIRECT
innodb_thread_concurrency=1
innodb_log_buffer_size=256000000

