# MySQL client settings

[mysql]
# Page interactive mysql sessions.
pager

# Show international characters properly.
# (This might want to check the environment, though.)
default-character-set=utf8

# Something resembling my bash prompt.
# Sadly, coloration messes up ^R searches and multi-line queries.
prompt="-- mysql://\u@\h/\d>\_"
