[mysqld]
port=2345
socket=/da22/d06/blivens/mysql.sock
basedir=/da22/d06/blivens/mysql
datadir=/da22/d06/blivens/mysql/data
old-passwords
skip-innodb

[client]
port=2345
socket=/da22/d06/blivens/mysql.sock
