[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
skip_name_resolve
character_set_server=utf8
init_connect="SET NAMES utf8"
server-id=0
log_warnings=2
general_log=0
general_log_file=/var/log/mysql/mysql-general.log
slow_query_log=on
long_query_time=2
slow_query_log_file=/var/log/mysql/mysql-slow.log
wait_timeout=20
old_passwords=0
max_connections=120
thread_cache_size=100
table_open_cache=8000
max_allowed_packet=16M
query_cache_type=1
query_cache_size=32M
query_cache_limit=1M
query_cache_min_res_unit=2K
net_buffer_length=16K
tmp_table_size=100M
max_heap_table_size=100M
explicit_defaults_for_timestamp=0
bulk_insert_buffer_size=64M

# general thread buffers
sort_buffer_size=3M
read_buffer_size=2M
read_rnd_buffer_size=4M
join_buffer_size=1M

# MyISAM
key_buffer_size=16M
myisam_sort_buffer_size=1M
myisam_max_sort_file_size=2G

# InnoDB
innodb_buffer_pool_size=16M
innodb_file_per_table
innodb_file_format=Barracuda
innodb_log_buffer_size=8M
innodb_log_files_in_group=2
innodb_log_file_size=128M
innodb_additional_mem_pool_size=8M
innodb_api_trx_level=2
innodb_buffer_pool_dump_at_shutdown=1
innodb_buffer_pool_load_at_startup=1
innodb_print_all_deadlocks=1

# Binary Log
log_bin=/var/lib/mysql/mysqld-bin
binlog-ignore-db=mysql
binlog_format=MIXED
expire_logs_days=14

# Slave
master-info-repository=TABLE
replicate-ignore-db=information_schema
replicate-ignore-db=performance_schema
replicate-ignore-db=mysql
relay-log=/var/lib/mysql/relay-bin
relay-log-index=/var/lib/mysql/relay-bin.index
relay-log-info-repository=TABLE
slave_load_tmpdir=/tmp
loose_rpl_semi_sync_master_enabled=1
loose_rpl_semi_sync_master_timeout=1000
loose_rpl_semi_sync_slave_enabled=1


[mysqld_safe]
log-error=/var/log/mysql/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid


[mysqldump]
default_character_set=utf8


[myisamchk]
key_buffer=512M
sort_buffer_size=512M
read_buffer=8M
write_buffer=8M


[client]
default_character_set=utf8
