[mysqld]
default-storage-engine = InnoDB
innodb_file_per_table = 1
innodb_file_format = barracuda
innodb_strict_mode = 1
innodb_buffer_pool_size = 300M
innodb_additional_mem_pool_size = 64M
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 2
innodb_thread_concurrency = 3
innodb_flush_method = O_DIRECT
transaction-isolation = READ-COMMITTED
