[mysqld]
port=3306
max_connections=1600 
max_connect_errors=10 
table_cache=2048 
max_allowed_packet=1048576 
binlog_cache_size=1048576 
max_heap_table_size=67108864 
sort_buffer_size=65536 
join_buffer_size=1048576 
thread_cache=16 
query_cache_size=0 
ft_min_word_len=4 
transaction_isolation=REPEATABLE-READ 
tmp_table_size=64M 
skip-locking 
server-id=1 
key_buffer_size=1300M 
user=root
skip-innodb
skip-falcon