[client]
port=1337
socket=/tmp/nguyen_m/web/mysql/mysql.sock

[mysqld]
port=1337
datadir=/tmp/nguyen_m/web/mysql
socket=/tmp/nguyen_m/web/mysql/mysql.sock
pid-file=/tmp/nguyen_m/web/mysql/mysql.pid
log-error=/tmp/nguyen_m/web/mysql.log
skip-networking

[safe_mysqld]
socket=/tmp/nguyen_m/web/mysql/mysql.sock
pid-file=/tmp/nguyen_m/web/mysql/mysql.pid
