[client]
    host                = localhost
    #password           = password
    user                = user

[mysql]
    compress
    #database           = database
    line-numbers
    no-beep
    prompt              = "\h@\u mysql:\n\d:> "
    reconnect
    show-warnings
    table
    #unbuffered
    #verbose
