# $Id: my.cnf 6 2008-12-23 20:45:12Z tsukue $

[mysqld]
read_buffer_size = 256K
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 8M
max_connections = 512 
max_connect_errors = 1024

log-bin=mysql-bin

server-id = 1

innodb_buffer_pool_size = 512M
innodb_additional_mem_pool_size = 20M
innodb_log_file_size = 256M
innodb_log_buffer_size = 8M
innodb_lock_wait_timeout = 1800 
innodb_flush_log_at_trx_commit = 2 

innodb_file_per_table

max_heap_table_size = 1024M
