[mysqld]
query_cache_type = 1
innodb_buffer_pool_size = 32M
innodb_additional_mem_pool_size = 4M
read_buffer_size = 32M
read_rnd_buffer_size = 32k
query_cache_limit = 4M
default-storage-engine = InnoDB
query_cache_min_res_unit = 1M
default-table-type = InnoDB
query_cache_size = 2M
