# lifted from:
# http://bazaar.launchpad.net/~vadim-tk/percona-benchmark-result/amazon-ec2-cpu/view/7/res1/my.cnf

[mysqld]
datadir=/mysql/data
tmpdir=/mysql/data


#####fixed innodb options
innodb_file_per_table = true
innodb_data_file_path = ibdata1:10M:autoextend
innodb_flush_log_at_trx_commit = 1
innodb_flush_method = O_DIRECT
innodb_log_buffer_size = 16M


innodb_buffer_pool_size = 4G

innodb_log_file_size = 1900M
innodb_log_files_in_group = 2



#####plugin options
innodb_read_io_threads = 4
innodb_write_io_threads = 4
innodb_io_capacity = 200



#not innodb options (fixed)

port = 3306
back_log = 50
max_connections = 4000
max_connect_errors = 10
table_cache = 2048
max_allowed_packet = 16M
binlog_cache_size = 16M
max_heap_table_size = 64M
sort_buffer_size = 4M
join_buffer_size = 4M
thread_cache_size = 800
query_cache_size = 0
query_cache_type = 0
query_cache_limit = 2M
ft_min_word_len = 4
memlock
#default_table_type = InnoDB
thread_stack = 192K
tmp_table_size = 64M

server-id = 10

#*** MyISAM Specific options
key_buffer_size = 8M
read_buffer_size = 1M
read_rnd_buffer_size = 4M
bulk_insert_buffer_size = 8M
myisam_sort_buffer_size = 8M
myisam_max_sort_file_size = 10G
#myisam_max_extra_sort_file_size = 10G
myisam_repair_threads = 1
myisam_recover

socket=/var/lib/mysql/mysql.sock
user=root
skip-grant-tables

[mysql]
no-auto-rehash
socket=/var/lib/mysql/mysql.sock

[client]
socket=/var/lib/mysql/mysql.sock
