# THIS IS A MYSQL config file (should be in /etc/mysql/conf.d/)
# it's sets UTF8 as a encoding for databases.

# This will be passed to all mysql clients
[client]
default-character-set=utf8
character-sets-dir=/usr/share/mysql/charsets

[mysqld]
default-character-set=utf8
default-collation=utf8_general_ci
character-sets-dir=/usr/share/mysql/charsets
init-connect='SET NAMES utf8'

[mysql]
default-character-set = utf8
