[mysqld]
basedir = /tmp/mysql
datadir = /tmp/data
socket  = /tmp/data/mysql.sock
tmpdir  = /tmp
#port 	= 3301
user    = wolong

[mysqld_safe]
log-error = /tmp/data/error.log
pid-file = /tmp/data/mysql.pid

