[client]
loose-local-infile=1
socket=/johnny/saveliev/az/mysql/tmp/mysql.sock
port=3307

[mysqld]
basedir=/johnny/saveliev/az/mysql
datadir=/Johnny/saveliev/az/mysql/data
socket=/johnny/saveliev/az/mysql/tmp/mysql.sock
port=3307

key_buffer_size=64M

#[OPTIMIZATION]
#Set this value to 50% of available RAM if your environment permits.
myisam_sort_buffer_size=8G

#This value should be at least 50% of free hard drive space. Use caution if setting it to 100% of free space however. Your hard disk may fill up!
myisam_max_sort_file_size=200G

#Our default of 2G is probably fine for this value. Change this value only if you are using a machine with little resources available.
read_buffer_size=2G

innodb_buffer_pool_size=2G