[mysqld]
  max_connections               = 1
  thread_cache_size             = 8
  thread_concurrency            = 8

  key_buffer_size               = 4G
  max_heap_table_size           = 128M

  join_buffer_size              = 32M
  sort_buffer_size              = 32M
  read_buffer_size              = 32M
  read_rnd_buffer_size          = 32M
  myisam_sort_buffer_size       = 32M

  query_cache_limit             = 32M
  query_cache_size              = 64M
  table_open_cache              = 64
  max_allowed_packet            = 1M
