## ---------------------------------------------------------------------------------------------
## [CLIENT] MySQL Common Client Configuration
## ---------------------------------------------------------------------------------------------
[CLIENT]
socket             = /tmp/mysql.sock
port               = 3306
default-character-set = utf8

host=localhost
user=toto
password=mypass

## ---------------------------------------------------------------------------------------------
## [CUSTOM_GROUP] MySQL Common Client Configuration
## ---------------------------------------------------------------------------------------------
[CUSTOM_GROUP]
port               = 3307
