# air: /etc/my.cnf, from my-innodb-heavy-4G.cnf

[mysqld_safe] socket = /tmp/mysql.sock

[client]
socket = /tmp/mysql.sock

[mysqld]
socket = /tmp/mysql.sock
max_connections = 150
max_user_connections = 150
key_buffer = 64M
myisam_sort_buffer_size = 64M
join_buffer_size = 64M
read_buffer_size = 64M
sort_buffer_size = 64M
thread_cache_size = 286
interactive_timeout = 25
wait_timeout = 1800
connect_timeout = 10
max_allowed_packet = 1M
max_connect_errors = 1000
query_cache_limit = 1M
query_cache_size = 512M
query_cache_type = 1
tmp_table_size = 16M

# InnoDB
# http://dev.mysql.com/doc/refman/5.0/en/innodb-configuration.html
# Data files must be able to hold your data and indexes.
# Make sure that you have enough free disk space.

innodb_file_per_table
innodb_data_file_path=ibdata1:10M:autoextend:max:10G

# Set buffer pool size to 50-80% of your computer's memory
innodb_buffer_pool_size=2G
innodb_additional_mem_pool_size=20M

# Set the log file size to about 25% of the buffer pool size
innodb_log_file_size=256M
innodb_log_buffer_size=8M

innodb_flush_log_at_trx_commit=1

