[mysqld]

user=mysql

skip-grant-tables=1
skip-name-resolve=1

basedir=/mysql
datadir=/mysql/data/
lc_messages_dir=/mysql/share/

innodb_buffer_pool_size=64M
innodb_log_file_size=8M

sync_binlog=0
innodb_flush_log_at_trx_commit=2

skip-innodb_doublewrite
innodb_old_blocks_time=1000
innodb_purge_threads=1
innodb_file_per_table=1

performance_schema=off

