dir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

slow_query_log = 1
long_query_time = 0.01
slow_query_log_file = /var/lib/mysql/slow.log
log-queries-not-using-indexes
# mysqldumpslow -s t /var/lib/mysql/slow.log

innodb_buffer_pool_size = 3G
#innodb_log_file_size = 128M
innodb_flush_log_at_trx_commit = 0

character-set-server=utf8
max_connection=300

query_cache_type=1
query_cache_limit=10M
query_cache_min_res_unit=4k
query_cache_size=100M
