[client]
socket=/var/run/mysqld/mysql.sock
default-character-set=utf8

[mysqld]
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

skip-character-set-client-handshake=1
character-set-server=utf8
collation-server=utf8_unicode_ci

#log-queries-not-using-indexes=1
#slow-query-log=1
#slow-query-log-file=/var/lib/mysql/mysql-slow.log

skip-name-resolve

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid