
[client]
# The following password will be sent to all standard MySQL clients
#password=""
user=root

[mysql]
no-auto-rehash
connect_timeout=2
prompt = 'mysql \h/\d> '
no-beep
show-warnings

[_mysql]
#skip-grant-tables

[mysqlhotcopy]
interactive-timeout
