[mysqld]
bind-address=127.0.0.1
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
old_passwords=0
symbolic-links=0
set-variable=local-infile=0

[mysqld_safe]
syslog
pid-file=/var/run/mysqld/mysqld.pid
