# Point /etc/my.cnf to this file

[mysqld]
character_set_server=utf8
default-storage-engine=InnoDB
expire_logs_days=7

sql_mode=traditional
transaction_isolation=READ-COMMITTED

innodb_file_per_table
innodb_autoinc_lock_mode=0
innodb_buffer_pool_size=256M
innodb_log_file_size=50M

key_buffer_size=128M

[mysql]
default-character-set=utf8
