[client]
port=3306
socket=/data1/mysqldata/3306/mysql.sock
[mysqld]
#skip-grant-table
bind-address=127.0.0.1
default-storage-engine=innodb
skip-name-resolve
slow_query_log=1
datadir=/data1/mysqldata/3306/data
character-set-server=utf8
innodb_additional_mem_pool_size=20M
#innodb_buffer_pool_size=256M
innodb_buffer_pool_size=20G
innodb_data_file_path=ibdata1:4G:autoextend
innodb_data_home_dir=/data1/mysqldata/3306/innodb/data
innodb_file_io_threads=4
innodb_file_per_table=1
innodb_flush_log_at_trx_commit=0
innodb_lock_wait_timeout=50
innodb_log_buffer_size=32M
innodb_log_file_size=256M
innodb_log_files_in_group=4
innodb_log_group_home_dir=/data1/mysqldata/3306/innodb/log
innodb_thread_concurrency=8
interactive_timeout=86400
key_buffer=64M
log_bin=/data/mysqllog/3306/binlog/binlog.bin
log_bin_trust_function_creators=1
slow_query_log_file=/data/mysqllog/3306/slow-query.log
long_query_time=1
max_allowed_packet=16M
max_binlog_size=256M
max_connect_errors=99999999
max_connections=3000
myisam_sort_buffer_size=64M
port=3306
#query_cache_size=32M
query_cache_size=0
read_buffer_size=2M
relay-log=/data1/mysqldata/3306/relay-log/relay-log.bin
replicate-ignore-db=mysql
replicate-wild-ignore-table=mysql.%
server_id=2132074040
skip-external-locking
#skip-locking
socket=/data1/mysqldata/3306/mysql.sock
sort_buffer_size=2M
table_cache=5120
thread_concurrency=8
tmpdir=/data1/mysqldata/3306/tmp
wait_timeout=86400
max_prepared_stmt_count=100000
[mysql]
default-character-set=utf8
no-auto-rehash
port=3306
socket=/data1/mysqldata/3306/mysql.sock
[mysqldump]
max_allowed_packet=4M
quick