# /etc/mysql/my.cnf: The global mysql configuration file.

[mysqld]
character-set-server           = utf8

# Startup & Security
<%- if node[:mysql][:server][:skip_networking] -%>
skip-networking
<%- end -%>
<%- if node[:mysql][:server][:bind_address] -%>
bind-address                   = <%= node[:mysql][:server][:bind_address] %>
<%- end -%>

# Replication & Binary Log
server-id                      = <%= node[:mysql][:server][:server_id] %>
<%- if node[:mysql][:server][:log_bin] -%>
log-bin                        = mysql-bin
sync-binlog                    = <%= node[:mysql][:server][:sync_binlog] %>
<%- end -%>
<%- if node[:mysql][:server][:relay_log] -%>
relay-log                      = mysqld-relay-bin
<%- end -%>
expire_logs_days               = <%= node[:mysql][:server][:expire_logs_days] %>
<%- if node[:mysql][:server][:log_slave_updates] -%>
log_slave_updates
<%- end -%>
<%- if node[:mysql][:server][:replicate_do_db] -%>
<%- node[:mysql][:server][:replicate_do_db].each do |db| -%>
replicate_do_db                = <%= db %>
<%- end -%>
<%- end -%>
<%- if node[:mysql][:server][:replicate_do_table] -%>
<%- node[:mysql][:server][:replicate_do_table].each do |db| -%>
replicate_do_table                = <%= db %>
<%- end -%>
<%- end -%>
slave-transaction-retries      = <%= node[:mysql][:server][:slave_transaction_retries] %>
auto_increment_increment       = <%= node[:mysql][:server][:auto_increment_increment] %>
auto_increment_offset          = <%= node[:mysql][:server][:auto_increment_offset] %>

# General Performance Options
open_files_limit               = <%= node[:mysql][:server][:open_files_limit] %>
table_open_cache               = <%= node[:mysql][:server][:table_open_cache] %>
table_definition_cache         = <%= node[:mysql][:server][:table_definition_cache] %>
thread_cache_size              = <%= node[:mysql][:server][:thread_cache_size] %>
tmp_table_size                 = <%= node[:mysql][:server][:tmp_table_size] %>
max_heap_table_size            = <%= node[:mysql][:server][:max_heap_table_size] %>
group_concat_max_len           = <%= node[:mysql][:server][:group_concat_max_len] %>

# Client Connection Optimization
max_connections                = <%= node[:mysql][:server][:max_connections] %>
max_allowed_packet             = <%= node[:mysql][:server][:max_allowed_packet] %>
wait_timeout                   = <%= node[:mysql][:server][:wait_timeout] %>
connect_timeout                = <%= node[:mysql][:server][:connect_timeout] %>

# Key Buffer Optimization
key_buffer_size                = <%= node[:mysql][:server][:key_buffer_size] %>

# Query Cache Optimization
query_cache_size               = <%= node[:mysql][:server][:query_cache_size] %>
query_cache_type               = <%= node[:mysql][:server][:query_cache_type] %>
query_cache_limit              = <%= node[:mysql][:server][:query_cache_limit] %>

# Sort Optimization
sort_buffer_size               = <%= node[:mysql][:server][:sort_buffer_size] %>
read_buffer_size               = <%= node[:mysql][:server][:read_buffer_size] %>
read_rnd_buffer_size           = <%= node[:mysql][:server][:read_rnd_buffer_size] %>
myisam_sort_buffer_size        = <%= node[:mysql][:server][:myisam_sort_buffer_size] %>

# Join Optimization
join_buffer_size               = <%= node[:mysql][:server][:join_buffer_size] %>

# InnoDB Options
<% if node[:mysql][:server][:innodb_file_per_table] %>
innodb_file_per_table
<% end %>
innodb_data_file_path          = ibdata1:10M:autoextend
innodb_buffer_pool_size        = <%= node[:mysql][:server][:innodb_buffer_pool_size] %>
innodb_log_file_size           = <%= node[:mysql][:server][:innodb_log_file_size] %>
innodb_log_buffer_size         = <%= node[:mysql][:server][:innodb_log_buffer_size] %>
innodb_flush_log_at_trx_commit = <%= node[:mysql][:server][:innodb_flush_log_at_trx_commit] %>
<% if node[:mysql][:server][:innodb_flush_log_at_trx_commit].to_i == 1 %>
innodb_flush_method            = O_DIRECT
<% end %>
innodb_thread_concurrency      = <%= node[:mysql][:server][:innodb_thread_concurrency] %>
innodb_lock_wait_timeout       = <%= node[:mysql][:server][:innodb_lock_wait_timeout] %>

# Miscellaneous Options
default_storage_engine         = <%= node[:mysql][:server][:default_storage_engine] %>
explicit_defaults_for_timestamp

# client settings
[mysqldump]
quick
max_allowed_packet             = <%= node[:mysql][:server][:max_allowed_packet] %>

[isamchk]
key_buffer                     = 20M
sort_buffer_size               = 20M
read_buffer                    = 2M
write_buffer                   = 2M

[myisamchk]
key_buffer                     = 20M
sort_buffer_size               = 20M
read_buffer                    = 2M
write_buffer                   = 2M

[mysqlhotcopy]
interactive-timeout
