[mysqld]
bind-address	= 0.0.0.0
max_connections	= 2048
innodb_buffer_pool_size = 7G
innodb_log_file_size = 256M
innodb_log_buffer_size = 4M
innodb_flush_log_at_trx_commit = 2
innodb_thread_concurrency = 8
innodb_flush_method = O_DIRECT
innodb_file_per_table
max_heap_table_size = 1024M
tmp_table_size = 1024M
