+{
    compiler      => 'pcc',
    c_flags       => [ '-Dunix' ],
    options       => ['-O0', '-O2'],
    testdir       => 'testsuite_pcc',

    size => {
         char  => 8,
         short => 16,
         int   => 32,
         long  => 32,
         pointer => 32,
    },

    timeout       => 10,
    color         => 1,
};
