[mysqld]

innodb_buffer_pool_size=12G
innodb_flush_log_at_trx_commit=1
innodb_additional_mem_pool_size = 20M
# Set .._log_file_size to 25 % of buffer pool size
innodb_log_file_size = 64M
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 50

slow_query_log
slow_query_log-file = /var/log/mysql/mysql-slow.sql
long_query_time = 0.01

#general-log=TRUE
#general-log-file=/var/log/mysql/query.log



