centos-0001 file /usr/local/ceshi /usr/local/ceshi2
centos-0001 mysql chris root dogoicq 3306 /tmp/mysql.sock
centos-0001 mysql chrispyli root dogoicq 3306
centos-0001 mongodb chris root dogoicq 27017
centos-0001 mongodb test root dogoicq 27017
centos-0001 redis /var/lib/redis/dump.rdb dogoicq 6379 /tmp/redis.sock

centos-0002 file /usr/local/ceshi /usr/local/ceshi2
centos-0002 mysql chris root dogoicq 3306 /tmp/mysql.sock
centos-0002 mysql chrispyli root dogoicq 3306
centos-0002 mongodb chris root dogoicq 27017
centos-0002 mongodb test root dogoicq 27017
centos-0002 redis /var/lib/redis/dump.rdb dogoicq 6379 /tmp/redis.sock

centos-0003 file /usr/local/ceshi /usr/local/ceshi2
centos-0003 mysql chris root dogoicq 3306 /tmp/mysql.sock
centos-0003 mysql chrispyli root dogoicq 3306
centos-0003 mongodb chris root dogoicq 27017
centos-0003 mongodb test root dogoicq 27017
centos-0003 redis /var/lib/redis/dump.rdb dogoicq 6379 /tmp/redis.sock

centos-0004 file /usr/local/ceshi /usr/local/ceshi2
centos-0004 mysql chris root dogoicq 3306 /tmp/mysql.sock
centos-0004 mysql chrispyli root dogoicq 3306
centos-0004 mongodb chris root dogoicq 27017
centos-0004 mongodb test root dogoicq 27017
centos-0004 redis /var/lib/redis/dump.rdb dogoicq 6379 /tmp/redis.sock
