# This configuration is disabled by default, as it potentially conflicts
# with mysqld.  Uncomment the settings below to enable the mysql_protocol
# plugin.
#
# ---
#
# plugin-add = mysql_protocol
# mysql-protocol.port = 3306

