[mysql-proxy]
pid-file = /var/lib/skysql/tmp/mysql-proxy.pr-78b9ef7a.pid
log-file = /var/lib/skysql/log/mysql-proxy.pr-78b9ef7a.log
log-level = debug
event-threads = 1
max-open-files=4096
proxy-fix-bug-25371=1
proxy-address =127.0.0.1:3327
proxy-backend-addresses=127.0.0.1:5013,127.0.0.1:5012
proxy-lua-script = /usr/local/skysql/ncc/scripts/pr-78b9ef7a.lua
lua-path=/usr/local/skysql/mysql-proxy/lib/mysql-proxy/lua/?.lua
lua-cpath=/usr/local/skysql/mysql-proxy/lib/mysql-proxy/lua/?.so
