[mysql-proxy]
pid-file = /var/lib/skysql/tmp/mysql-proxy.pr-d1b32dec.pid
log-file = /var/lib/skysql/log/mysql-proxy.pr-d1b32dec.log
log-level = debug
event-threads = 1
max-open-files=4096
proxy-fix-bug-25371=1
proxy-address =10.0.0.47:3307
proxy-backend-addresses=127.0.0.1:5010
proxy-lua-script = /usr/local/skysql/ncc/scripts/pr-d1b32dec.lua
lua-path=/usr/local/skysql/mysql-proxy/lib/mysql-proxy/lua/?.lua
lua-cpath=/usr/local/skysql/mysql-proxy/lib/mysql-proxy/lua/?.so
