#
# ~/.my.cnf - Configuration file for MySQL (client).
#
# Steve
# --
# http://dotfiles.repository.steve.org.uk/
#



#
#  The prompt for MySQL will show username, hostname, and DB name.
#
[mysql]
prompt=(\\u@\\h) [\\d]>\\_
