TEXINPUTS.jadetex = .;$TEXMF/tex/{jadetex,latex,plain,generic,}//
TEXINPUTS.pdfjadetex = .;$TEXMF/tex/{jadetex,latex,plain,generic,}//

%%
%% jacking up TeX settings for the unique uses of jadetex
%%
extra_mem_bot.jadetex = 85000
extra_mem_bot.pdfjadetex = 85000

%%
%% added for PostgreSQL
%%
hash_extra.jadetex  = 200000
hash_extra.pdfjadetex  = 200000
pool_size.jadetex = 2000000
pool_size.pdfjadetex = 2000000
string_vacancies.jadetex = 150000
string_vacancies.pdfjadetex = 150000
max_strings.jadetex = 300000
max_strings.pdfjadetex = 300000
save_size.jadetex = 15000
save_size.pdfjadetex = 15000
