[mysqld]
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

#Replication
server-id = 3 

#Crash Recovery
default_storage_engine = innodb
myisam-recover = BACKUP

#Network settings
max_connections = 64000
max_user_connections = 64000
max_connect_errors = 10000
max_allowed_packet = 16M 
skip_name_resolve

#Buffers
join_buffer_size = 1M
sort_buffer_size = 1M
key_buffer_size = 5M
innodb_buffer_pool_size = 20M
innodb_log_buffer_size = 5M 
tmp_table_size = 5M
max_heap_table_size = 10M

#Caches
thread_cache_size = 16
table_cache = 4096
query_cache_limit = 1M 
query_cache_size = 20M
query_cache_type = 1 

#Filesystem
interactive_timeout = 1800
wait_timeout = 28800
skip-external-locking
skip-symbolic-links
local-infile = 1 
open_files_limit = 49152
tmpdir = /var/tmp
innodb_log_file_size = 10M
innodb_file_per_table = 1 
datadir = /var/lib/mysql
socket = /var/lib/mysql/mysql.sock
log-error = /var/log/mysql/mysqld.log
log-bin = /var/log/mysql/mysql-bin
expire_logs_days = 10
max_binlog_size = 10M

# Performance
innodb_flush_log_at_trx_commit = 2


[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
