[mysql]
# The following options will be passed to all MySQL clients
[client]
#default-character-set=utf8
port        = 3307
host        = 127.0.0.1
socket      = /opt/local/var/mysql-percona/mysql.sock

[mysqld]
#query_cache_type=0
#character-set-server=utf8
#collation-server=utf8_general_ci
gdb
max_allowed_packet=16M
#sql_mode=strict_all_tables
#max_allowed_packet=20000000
#general_log=1
#log_output=TABLE
socket=/opt/local/var/mysql-percona/mysql.sock
port=3307
lc-messages-dir=/home/kostja/work/mysql-percona/5.5/Percona-Server/sql/share
character-sets-dir=/home/kostja/work/mysql-percona/5.5/Percona-Server/sql/share/charsets
basedir=/home/kostja/work/mysql-percona/5.5/Percona-Server
datadir=/opt/local/var/mysql-percona
server_id=1
#debug-sync-timeout=300
#foreign-key-all-engines=1
#innodb_buffer_pool_size=256M
#table_open_cache=400
#debug
#innodb_flush_log_at_trx_commit=0
#innodb-lock-wait-timeout=2
#enable-pstack
#myisam_sort_buffer=128M
#myisam_max_sort_file_size=4G
#myisam_max_extra_sort_file_size=4G
#skip-stack-trace
core-file
#skip-innodb
#skip-bdb
#loose-skip-falcon
#loose-skip-maria
#set-variable="character_set_connection",utf8
#log-bin
#plugin-dir=/home/kostja/work/mysql-5.0-cnet/plugin/fulltext/.libs
#
#innodb_data_home_dir = /opt/local/var/mysql/
#innodb_data_file_path = ibdata1:10M:autoextend
#innodb_log_group_home_dir = /opt/local/var/mysql/
innodb_log_file_size=100M

