[client]
default-character-set=utf8

[mysql]
default-character-set=utf8

[mysqld]
collation-server = utf8_unicode_ci
init-connect='SET NAMES utf8'
character-set-server = utf8
datadir=/data/mysql/django-fac-webstore
socket=/var/lib/mysql/mysql.sock
user=mysql
# Default to using old password format for compatibility with mysql 3.x
# clients (those using the mysqlclient10 compatibility package).
old_passwords=1

# Disabling symbolic-links is recommended to prevent assorted security risks;
# to do so, uncomment this line:
# symbolic-links=0

# increase the buffer size according to machine power
innodb_buffer_pool_size = 1G
query_cache_type = 1
# disable slow_query_log because mysql prior to 5.1 doesn't know it.
# open it if the mysql is more than 5.1
#slow_query_log = ON
query_cache_size = 256M
innodb_log_buffer_size = 8M
innodb_log_file_size = 64M

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
