#
# The MySQL database server configuration file.
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html
#

[mysqld_multi]

[mysqld01]

server-id	=	01
user		=	mysql
port		=	13301
datadir		=	/var/lib/mysql/01/
socket		=	/var/lib/mysql/01/mysql.sock
pid-file	=	/var/lib/mysql/01/mysqld.pid

log_error	=	/var/lib/mysql/01/error.log

log_bin		=	/var/lib/mysql/01/event.log
max_binlog_size		=	100M
expire_logs_days	=	20


