[mysqld]
datadir=/var/lib/mysql
character-set-server=utf8
max_allowed_packet = 32M
socket=/var/lib/mysql/mysql.sock
user=mysql
# 여러 보안 위협을 예방하기 위해서는 심볼릭 링크를 비활성화하는 것을 권장
symbolic-links=0

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[mysql] 
default-character-set=utf8 
port = 3306 
socket = /var/lib/mysql/mysql.sock

