[client]
port = 3306
socket = /var/lib/mysql/mysql.sock

[mysqld]
port = 3306
socket = /var/lib/mysql/mysql.sock

log_bin = /var/lib/mysql/mysql-bin
binlog_format = mixed

log_error = /var/lib/mysql/mysql.err
slow_query_log
slow_query_log_file = /var/lib/mysql/mysql-slow.log
log_output = FILE
long_query_time = 1

character-set-server = utf8
skip-character-set-client-handshake

innodb_file_format = Barracuda
innodb_flush_method = O_DIRECT
innodb_file_per_table
skip_innodb_doublewrite

[mysqldump]
max_allowed_packet = 16M
