
IDEA run configuration

Command line:

-Dserver.port=2008  -Dgrails.env=h2 -reloading -Dgrails.gsp.enable.reload=true run-app  --stacktrace

VM options:

-client
-Xmx1024m
-XX:PermSize=128m
-XX:MaxPermSize=256m
-javaagent:..\grails-2.2.3\lib\org.springsource.springloaded\springloaded-core\jars\springloaded-core-1.1.3.jar
-noverify
-Dspringloaded=profile=grails
