+{
    compiler      => 'clang',
    c_flags       => [ '-Dunix' ],
    options       => ['-O0', '-O2'],
    testdir       => 'testsuite_clang',

    size => {
         char  => 8,
         short => 16,
         int   => 32,
         long  => 64,
         pointer => 64,
    },

    timeout       => 10,
    color         => 1,
};
