#Brnch_Pred 
-BTB_Active 0
-BTB_Sets 32
#-BTB_Threshold 7
-BTB_Ways 2
#-Bpred_Conf_Decr 8
#-Bpred_Conf_History 4
#-Bpred_Conf_Type 0
#-Bpred_Lookup_Width 1
#-Bpred_Update_Width 1
-Dynamic_Prediction 0
-GPT_Counters 2
-GPT_Size 4096
-LHT_Size 1024
-LPT_Counters 3
-LPT_Size 1024
-Perfect_TargPred 1
-RAS_Active 0
-RAS_Size 0
-Static_Type 0
#Exec_Core 
-ActL_Size 80
#-Core_2stages 0
-IQ_Size 4
-OoO_Issue 1
-Result_Bypass 1
-Skip_Memory_Stage 0
-dCache_Perfect 1
#Fetch 
-Branch_Queue_Size 4
-Fetch_Queue_Size 1
-Merge_Fetch_Blocks 1
-Misprediction_Delay 0
-branch_Perfect 1
-iCache_Perfect 1
#L2_Cache 
-L2_Cache_Latency 5
-L2_Cache_Line_Size 64
-L2_Cache_Replace 0
-L2_Cache_Sets 4096
-L2_Cache_Ways 6
#Latencies 
-fadd_Latency 4
-fbrnch_Latency 2
-fcmov_Latency 2
-fcmp_Latency 4
-fcvt_Latency 4
-fdiv_Latency 12
-fdivd_Latency 15
-fmult_Latency 4
-fmultd_Latency 4
-fsqr_Latency 15
-fsqrd_Latency 30
-ialu_Latency 1
-ibrnch_Latency 1
-icmov_Latency 1
-idiv_Latency 32
-idivd_Latency 32
-imult_Latency 7
-imultd_Latency 7
-imvi_Latency 3
-iplz_Latency 3
-ishift_Latency 1
-mem_Latency 1
-noclass_Latency 1
-syscall_Latency 1
#Memory 
-L2_Bus_Latency 12
-L2_Bus_Width 16
-L2_Perfect 1
-MAF_Size 16
-MAF_width 1
-Mem_Bus_Latency 15
-Mem_Bus_Width 8
-Mem_Latency 20
#Misc 
#-config <null>
#-i0 0
#-i1 0
#-i2 0
#-i3 0
#Multithread 
-N_Procs 1
-N_Threads 1
#SuperScalar 
-Bpred_Width 1
-Decode_Width 4
-Execution_Width 4
-Fetch_Width 4
-Retire_Width 4
#dCache 
-dCache_Latency 1
-dCache_Line_Size 64
-dCache_Replace 0
-dCache_Sets 512
-dCache_Ways 2
-dCache_Width 1
#iCache 
-iCache_Line_Size 64
-iCache_Replace 0
-iCache_Sets 512
-iCache_Ways 2
