#########################################
# EXAMPLE
#########################################

# MySQL Database Connection:
# [database]
# type = mysql
# ip = 192.168.X.X
# user = root
# password = Example
# database = osm

# SQLite Database Connection:
# [database]
# type = sqlite
# path = data/osm.db

[database]
path = data/osm.db
type = sqlite
