[mysqld]
innodb_buffer_pool_size        = 512M
innodb_flush_log_at_trx_commit = 2
innodb_flush_method            = O_DIRECT
innodb_log_file_size           = 256M
innodb_thread_concurrency      = 16
query_cache_type=1
log_bin_trust_function_creators=1
