table_cache=1024
tmp_table_size=6G
max_heap_table_size=6G
thread_cache=16
query_cache_size=1G
query_cache_limit=4M
default-storage-engine = InnoDB
expire_logs_days = 5
ignore-builtin-innodb
plugin-load=innodb=ha_innodb_plugin.so
max_binlog_size = 1024M
skip-name-resolve
innodb_flush_log_at_trx_commit=2
innodb_thread_concurrency=32  # we have 16 cpu threads
innodb_buffer_pool_size = 40G # we have 64G of memory
innodb_flush_method=O_DIRECT
innodb_additional_mem_pool_size=100M
innodb_log_buffer_size = 18M
innodb_log_file_size = 300M
