{

"SourceFilePattern":"Pf3D7.*\\.txt",
"SourceFileType":"TabDelimitedFile",

"BlockSizeStart":1,
"BlockSizeIncrFactor":2,
"BlockSizeMax":100000,

"Properties": [

	{ "ID":"Uniqueness","Type":"Float"}
],

"Summarisers": [





{ "PropID":"Uniqueness","IDExt":"avg","Method":"Average",
	"Encoder":{"ID":"Float2B64", "Len":2, "Min":0, "Max":200}
},
{ "PropID":"Uniqueness","IDExt":"max","Method":"Max",
	"Encoder":{"ID":"Float2B64", "Len":2, "Min":0, "Max":200}
},
{ "PropID":"Uniqueness","IDExt":"min","Method":"Min",
	"Encoder":{"ID":"Float2B64", "Len":2, "Min":0, "Max":200}
}





]

}
