[mysqld]
character-set-server=utf8
max_connections=1000

wait_timeout=300
interactive_timeout=300

skip-external-locking
skip-name-resolve
skip-host-cache

thread_concurrency = 4
concurrent_insert = 2
innodb_additional_mem_pool_size = 16M
innodb_buffer_pool_size = 2G
innodb_log_buffer_size = 16M
innodb_log_file_size = 128M

innodb_log_files_in_group = 2
innodb_lock_wait_timeout=120

innodb_thread_concurrency = 16
innodb_file_io_threads = 4
innodb_flush_log_at_trx_commit = 2
innodb_log_files_in_group = 3
innodb_max_dirty_pages_pct = 90
innodb_file_per_table = 0

transaction_isolation = READ-COMMITTED

back_log = 600
open_files_limit = 10240
table_cache = 614

max_heap_table_size = 256M
tmp_table_size = 256M

sort_buffer_size = 2M
join_buffer_size = 2M
read_buffer_size = 1M
read_rnd_buffer_size = 16M
bulk_insert_buffer_size = 64M

key_buffer_size = 128M

max_allowed_packet = 32M
thread_stack = 192K
thread_cache_size = 300

myisam-recover = BACKUP

query_cache_limit = 4M
query_cache_min_res_unit = 2k
query_cache_size = 32M

binlog_cache_size = 4M
max_binlog_cache_size = 8M
expire_logs_days = 7
max_binlog_size = 200M
