# Galera-common configuration 
[mysqld] 
wsrep-cluster-name = "test_cluster" 
wsrep-provider = /usr/lib/galera/libgalera_smm.so 
wsrep-provider-options = "gcache.size=256M; gcache.page_size=128M" 
wsrep-sst-auth = "galera:mypassword" 
binlog-format = row 
default-storage-engine = InnoDB 
innodb-doublewrite = 1 
innodb-autoinc-lock-mode = 2 
innodb-flush-log-at-trx-commit = 2 
innodb-locks-unsafe-for-binlog = 1
