#
# /etc/my.cnf
#

[mysql]

default-character-set=utf8

[mysqld_safe]

pid-file=/mysql/log/mysqld.pid
log-error=/mysql/log/mysql-error.log

[mysqld]

user=mysql

##################################################
### install dirs
##################################################
# basedir=/
datadir=/mysql/data
pid-file=/mysql/log/mysqld.pid

##################################################
### Force server time_zone
##################################################
# default-time-zone='America/Sao_Paulo'

##################################################
### Encodinhg
##################################################

default-character-set = utf8
collation-server = utf8_bin
character-set-server = utf8
character-set-filesystem = utf8

# collation-server = utf8_general_ci
# skip-character-set-client-handshake

##################################################
### Storage
##################################################
# default-storage-engine=InnoDB

# Tablespaces
# innodb_data_home_dir=/home/aluno/mysql-data
innodb_data_file_path=ibdata1:50M;ibdata2:50M:autoextend
innodb_autoextend_increment=10M

# One innodb file for each table
innodb_file_per_table

# Flush rate Default: 90%
innodb_max_dirty_pages_pct=90

# Recover, if needed: 1 a 6. Default=0
innodb_force_recovery=0

# Online REDO Log
# innodb_log_file_size=128M
# innodb_log_files_in_group=4

##################################################
### Network
##################################################
# bind=172.16.0.146
# bind=172.16.202.70
port=3306
socket=/mysql/mysql.sock

# IP only
skip-name-resolve

# Replication: 1 - 1024
# server_id=29

# session network transfer size
#ax-allowed-packet=20M
max-allowed-packet=50M

##################################################
### Process
##################################################
max_connections=400
thread_cache_size=20

##################################################
### Mem
##################################################

### Global / instance

table_open_cache = 512

max_heap_table_size = 256M

## Query Cache / SQL Buffer Pool
#     stats: show global status like 'Qcache_%'
query_cache_type = 1
query_cache_size = 64M

# SQL text sizes inside query cache
query_cache_limit = 1M
query_cache_min_res_unit = 4096

# MyIsam Indexes only
#     stat: 1 - (key_reads / key_read_requests)
key_buffer_size=512M

# Innodb
innodb_buffer_pool_size = 32M
innodb_log_buffer_size = 8M


### Sessions, i.e, for each session
read_buffer_size = 8M
read_rnd_buffer_size = 8M
sort_buffer_size = 1M
join_buffer_size = 8M


##################################################
### Logs
##################################################

###
### Error
###
log-error=/mysql/log/mysql-error.log

###
### General
### All comands / Audit
###     Tip: save into myisam table, for later use. Default=csv table.
###
general-log
general-log-file=/mysql/log/mysql.log

###
### Slow
###     set @@global.slow_query_log_file='/home/aluno/mysql-logs/slow2.log';
###
slow-query-log
slow-query-log-file=/mysql/log/mysql-slow.log

log-queries-not-using-index

# log when query time > 'x' secs. Default=10s
long_query_time=2

###
### Binary log: Replication/Redo, i.e., archive log
###
# log-bin=/mysql/arch/mysql-bin

# size:
# max_binlog_size=100M

# auto-rotate:
# expire_logs_days=7

# server decide between row/statement:
# binlog_format=mixed

##################################################
### Fulltext
##################################################
# ft_min_world_len=3
# ft_stop_word_file='/path/file.txt'


##################################################
### Others
##################################################

#nit-connect="SET AUTOCOMMIT=OFF"
init-connect='SET names utf8 COLLATE utf8_bin'

# init-file=/home/aluno/work/mysql-init-file.sql

transaction-isolation='READ-COMMITTED'

# IGNORE_SPACE: spaces between function_name and '()'
sql-mode='ANSI,TRADITIONAL,IGNORE_SPACE'

## skip-grant-tables
## skip-networking


# vim:ft=conf:

