# [mysql]はMySQLコマンドラインツールのクライアント側の設定
[mysql]
prompt='[32m\u@\h[\d][0m\n>\_'
# 色をつけるとその行のワードラップが改行されずに先頭に戻るというバグが発生するので改行している。
# 使用しているターミナルはTera Term

auto-rehash

# クライアント側はutf8を使用する
default-character-set = utf8

show-warnings
