# my.cnf for jhl
# Example MySQL config file for medium systems.
#
# This is for a system with little memory (32M - 64M) where MySQL plays
# an important part, or systems up to 128M where MySQL is used together with
# other programs (such as a web server)
#
# MySQL programs look for option files in a set of
# locations which depend on the deployment platform.
# You can copy this option file to one of those
# locations. For information about these locations, see:
# http://dev.mysql.com/doc/mysql/en/option-files.html
#
# In this file, you can use all long options that a program supports.
# If you want to know which options a program supports, run the program
# with the "--help" option.

# The following options will be passed to all MySQL clients
[client]
#password	= your_password
port		= {{port}}
socket		= /tmp/mysqld_{{port}}.sock

# Here follows entries for some specific programs

# The MySQL server
[mysqld]
port		= {{port}}
socket		= /tmp/mysqld_{{port}}.sock
pid_file	= /var/run/mysqld/mysqld_{{port}}.pid
skip-external-locking
explicit_defaults_for_timestamp = true #5.6版本要添加这选项
key_buffer_size = 64M
max_connect_errors = 100
table_open_cache = 100
thread_concurrency = 64

max_connections = 100

wait_timeout = 600

#binlog_cache_size=1M

tmp_table_size=64M

#max_heap_table_size=384M

query_cache_size=16M

thread_cache_size=8192

max_allowed_packet = 16M
sort_buffer_size = 4M    #调试修改
net_buffer_length = 1M
read_buffer_size = 16M
read_rnd_buffer_size = 32M
myisam_sort_buffer_size = 8M

#back_log = 500



# ===============================end
# Don't listen on a TCP/IP port at all. This can be a security enhancement,
# if all processes that need to connect to mysqld run on the same host.
# All interaction with mysqld must be made via Unix sockets or named pipes.
# Note that using this option without enabling named pipes on Windows
# (via the "enable-named-pipe" option) will render mysqld useless!
# 
#skip-networking

# Replication Master Server (default)
# binary logging is required for replication
log-bin=mysql-bin
log_error={{MYSQLDATA_DIR}}/{{port}}/mysql.err       #手工添加
# binary logging format - mixed recommended
binlog_format=mixed
binlog_cache_size=8M
expire_logs_days=5            #手工添加

# database dir and basedir
basedir=/usr/local/mysql
datadir={{MYSQLDATA_DIR}}/{{port}}/data

# required unique id between 1 and 2^32 - 1
# defaults to 1 if master-host is not set
# but will not function as a master if omitted
#server-id	= 1
server-id      = 1

# Replication Slave (comment out master section to use this)
#
# To configure this host as a replication slave, you can choose between
# two methods :
#
# 1) Use the CHANGE MASTER TO command (fully described in our manual) -
#    the syntax is:
#
#    CHANGE MASTER TO MASTER_HOST=<host>, MASTER_PORT=<port>,
#    MASTER_USER=<user>, MASTER_PASSWORD=<password> ;
#
#    where you replace <host>, <user>, <password> by quoted strings and
#    <port> by the master's port number (<%= @localport %> by default).
#
#    Example:
#
#    CHANGE MASTER TO MASTER_HOST='125.564.12.1', MASTER_PORT=<%= @localport %>,
#    MASTER_USER='joe', MASTER_PASSWORD='secret';
#
# OR
#
# 2) Set the variables below. However, in case you choose this method, then
#    start replication for the first time (even unsuccessfully, for example
#    if you mistyped the password in master-password and the slave fails to
#    connect), the slave will create a master.info file, and any later
#    change in this file to the variables' values below will be ignored and
#    overridden by the content of the master.info file, unless you shutdown
#    the slave server, delete master.info and restart the slaver server.
#    For that reason, you may want to leave the lines below untouched
#    (commented) and instead use CHANGE MASTER TO (see above)
#
# required unique id between 2 and 2^32 - 1
# (and different from the master)
# defaults to 2 if master-host is set
# but will not function as a slave if omitted
#server-id       = 2
#
# The replication master for this slave - required
#master-host     =   <hostname>
#
# The username the slave will use for authentication when connecting
# to the master - required
#master-user     =   <username>
#
# The password the slave will authenticate with when connecting to
# the master - required
#master-password =   <password>
#
# The port the master is listening on.
# optional - defaults to <%= @localport %>
#master-port     =  <port>
#
# binary logging - not required for slaves, but recommended
#log-bin=mysql-bin

# Uncomment the following if you are using InnoDB tables
innodb_data_home_dir = {{MYSQLDATA_DIR}}/{{port}}/data
#############启用分表储存############################
innodb-file-per-table = 1
innodb_data_file_path = ibdata1:10M:autoextend
innodb_log_group_home_dir = {{MYSQLDATA_DIR}}/{{port}}/binlog
# You can set .._buffer_pool_size up to 50 - 80 %
# of RAM but beware of setting memory usage too high
innodb_buffer_pool_size = 128M #调试有改变
#innodb_additional_mem_pool_size = 64M 版本5.6已经取消这个选项
# Set .._log_file_size to 25 % of buffer pool size
innodb_log_file_size = 64M #调试有改变
innodb_log_buffer_size = 2M
innodb_lock_wait_timeout = 600
innodb_flush_log_at_trx_commit = 2
#########################增加###################
#innodb_buffer_pool_instances = 3
#innodb_file_per_table=1
innodb_flush_method=O_DIRECT
#memlock
########################复制选项################
replicate-ignore-db = mysql                  #不复制mysql数据库
#replicate-do-db = BindDB                    #只复制BindDB数据库
replicate-ignore-db = test                    #不复制test数据库
replicate-ignore-db = information_schema      #不复制information_schema
replicate-ignore-db = performance_schema      #不复制 performance_schema
max_relay_log_size = 1024M                 #设定中继日志的最大大小
log_slave_updates = 1                      #默认为0,启用从库写二制进日志
slave-skip-errors=1062         #忽略复制当中的某些错误,1062是重复记录的代码
#auto_increment_increment=2 #自增数,有多少个主库就设为多少,本文为两个主库
#auto_increment_offset=<%= id %> #起始偏移量,注意另一主库这里为

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates

[myisamchk]
key_buffer_size = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
