--- ./cswstage/opt/csw/mysql5/share/mysql/orig-my-huge.cnf	2007-01-14 11:17:43.535118000 -0500
+++ ./cswstage/opt/csw/mysql5/share/mysql/my-huge.cnf	2007-01-21 09:57:20.102975000 -0500
@@ -23,6 +23,8 @@
 
 # The MySQL server
 [mysqld]
+basedir         = /opt/csw/mysql5
+datadir         = /opt/csw/mysql5/var
 port		= 3306
 socket		= /tmp/mysql.sock
 skip-locking
--- ./cswstage/opt/csw/mysql5/share/mysql/orig-my-innodb-heavy-4G.cnf	2007-01-14 11:17:43.591010000 -0500
+++ ./cswstage/opt/csw/mysql5/share/mysql/my-innodb-heavy-4G.cnf	2007-01-21 09:57:54.440312000 -0500
@@ -39,6 +39,8 @@
 # The MySQL server
 #
 [mysqld]
+basedir         = /opt/csw/mysql5
+datadir         = /opt/csw/mysql5/var
 
 # generic configuration options
 port		= 3306
--- ./cswstage/opt/csw/mysql5/share/mysql/orig-my-large.cnf	2007-01-14 11:17:43.480716000 -0500
+++ ./cswstage/opt/csw/mysql5/share/mysql/my-large.cnf	2007-01-21 09:58:07.842806000 -0500
@@ -23,6 +23,8 @@
 
 # The MySQL server
 [mysqld]
+basedir         = /opt/csw/mysql5
+datadir         = /opt/csw/mysql5/var
 port		= 3306
 socket		= /tmp/mysql.sock
 skip-locking
--- ./cswstage/opt/csw/mysql5/share/mysql/orig-my-medium.cnf	2007-01-14 11:17:43.426629000 -0500
+++ ./cswstage/opt/csw/mysql5/share/mysql/my-medium.cnf	2007-01-21 09:58:21.215693000 -0500
@@ -24,6 +24,8 @@
 
 # The MySQL server
 [mysqld]
+basedir         = /opt/csw/mysql5
+datadir         = /opt/csw/mysql5/var
 port		= 3306
 socket		= /tmp/mysql.sock
 skip-locking
--- ./cswstage/opt/csw/mysql5/share/mysql/orig-my-small.cnf	2007-01-14 11:17:43.371666000 -0500
+++ ./cswstage/opt/csw/mysql5/share/mysql/my-small.cnf	2007-01-21 09:58:33.006106000 -0500
@@ -24,6 +24,8 @@
 
 # The MySQL server
 [mysqld]
+basedir         = /opt/csw/mysql5
+datadir         = /opt/csw/mysql5/var
 port		= 3306
 socket		= /tmp/mysql.sock
 skip-locking
