[client]
port								= 3306
socket								= /var/run/mysqld/mysqld.sock
default-character-set				= utf8

[mysqld_safe]
socket								= /var/run/mysqld/mysqld.sock
nice								= 0

[mysqld]
user								= mysql
pid-file							= /var/run/mysqld/mysqld.pid
socket								= /var/run/mysqld/mysqld.sock
port								= 3306
basedir								= /usr
datadir								= /var/lib/mysql
#tmpdir								= /dev/shm
tmpdir								= /tmp
character-set-server				= utf8
performance_schema					= on

transaction-isolation				= READ-COMMITTED

lc-messages-dir						= /usr/share/mysql
skip-external-locking

#inndb recovery mode
innodb_force_recovery 				= 0

max_allowed_packet					= 32M
thread_stack						= 192K
thread_cache_size       			= 20
group_concat_max_len  	  			= 8192

tmp_table_size						= 512M
max_heap_table_size					= 512M
table_open_cache					= 4000
low_priority_updates				= 1
concurrent_insert					= ALWAYS
join_buffer_size					= 64M
key_buffer_size						= 128M
read_buffer_size					= 8M

explicit_defaults_for_timestamp 	= TRUE

myisam-recover-options  			= BACKUP
#max_connections        			= 100
#table_cache            			= 64
#thread_concurrency     			= 10

query_cache_limit					= 256M
query_cache_size 					= 512M
#query_cache_size					= 0

#general_log_file					= /var/log/mysql/mysql.log
#general_log						= 1
log_error							= /var/lib/mysql/error.log

slow-query-log						= 1
slow_query_log_file					= /var/log/mysql/mysql-slow.log
long_query_time						= 5
log-queries-not-using-indexes


innodb_ft_min_token_size	 		= 1

max_user_connections 				= 100
#table_cache						= 4000

#InnoDB specifics

#Engine options
innodb 								= ON
innodb_file_format 					= Barracuda
innodb_file_per_table 				= 1

#misc uncategorized
innodb_table_locks 					= false
innodb_lock_wait_timeout 			= 240
innodb_use_sys_malloc 				= 1

#threading
innodb_thread_concurrency 			= 0 			#or set to 0 and let mysql decide what it needs
innodb_read_io_threads 				= 64
innodb_write_io_threads 			= 64
innodb_purge_threads 				= 1

#buffer pool related
innodb_buffer_pool_size 			= 12G
innodb_buffer_pool_instances 		= 12			# each buffer pool instance should be at least 1 gigabyte
innodb_change_buffering 			= all
innodb_max_dirty_pages_pct 			= 90

expand_fast_index_creation 			= 1
#innodb_merge_sort_block_size 		= 1G

#flush related
innodb_flush_method 				= O_DIRECT
innodb_flush_log_at_trx_commit 		= 0

#transaction logs
innodb_log_buffer_size 				= 2G
innodb_log_files_in_group 			= 2
innodb_log_file_size 				= 3G 				#this should be 25% of innodb_buffer_pool_size

[mysqldump]
quick
quote-names
max_allowed_packet					= 32M

[mysql]
#no-auto-rehash	# faster start of mysql but no tab completition

[isamchk]
key_buffer_size						= 16M

#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
!includedir /etc/mysql/conf.d/
