[client]
character-set-server = utf8
port = 3306
socket = /tmp/mysqld.sock

[mysqld]
skip-networking
skip-name-resolve

character-set-server = utf8
port = 3306
socket = /tmp/mysqld.sock
basedir = ${mysql_install}
datadir = ${mysql_data}
datadir = ${mysql_data}
datadir = ${mysql_data}
pid-file = ${mysql_pid}
log-error = ${mysql_error_log}
end of file

[test]
mysql_port=\3306

mysql_port=$\{limysql_port}

mysql_port=$\{mysql_port2}
mysql_port=\\\${mysql_port3}
mysql_port=$\{mysql_port4}

mysql_port=${mysql_port5
mysql_port=$mysql_port6}

mysql_port=$\\{mysql_port7}
mysql_port=$\\\{mysql_port8}

