[mysqld]
bind-address=94.23.136.57
max_connections = 170
server-id = 1
port = 3306
skip-locking
skip-bdb
key_buffer = 1024M
max_allowed_packet = 1M
table_cache = 230
tmp_table_size = 256M
max_heap_table_size = 64M
thread_cache_size = 200
join_buffer_size=256K
query_cache_size= 0M
query_cache_limit= 2M
sort_buffer_size = 128K
read_buffer_size = 512K
read_rnd_buffer_size = 512K
net_buffer_length = 2K
thread_stack = 131072
ft_min_word_len = 2
skip-character-set-client-handshake
character-set-server=utf8
init-connect = 'SET NAMES utf8'
ft_stopword_file = /etc/sysconfig/mysql/mots_vides.txt
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
old_passwords=1
log-slow-queries = /var/log/mysql-slow.log
log-queries-not-using-indexes = 0
long_query_time = 5
log-warnings

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

