[mysqld]
max_connections         = 10
max_allowed_packet      = 16M

query_cache_size        = 256M
query_cache_limit       = 16M

key_buffer_size         = 64M
join_buffer_size        = 64M
thread_cache_size       = 4
table_cache             = 8192
tmp_table_size          = 256M
max_heap_table_size     = 256M
innodb_buffer_pool_size = 1G

log_queries_not_using_indexes = 1
slow_query_log_file=/var/log/mysql/slow.log
slow_query_log=1
