[mysqld]
# slow query
slow_query_log=ON
slow_query_log_file=slow-query.log
long_query_time=0.01
#log_queries_not_using_indexes = 1

innodb_buffer_pool_size = 8192M
innodb_log_buffer_size = 64M
innodb_log_file_size = 1024M
sort_buffer_size = 64M
read_rnd_buffer_size = 64M
query_cache_size = 32M
