[mysql-proxy]
admin-address = 0.0.0.0:4045
proxy-skip-profiling = true
admin-passwor=not_used
admin-username=administrator
proxy-address=0.0.0.0:4050
proxy-backend-addresses=127.0.0.1:3306
max-open-files=1024
user=mysqlproxy
proxy-lua-script=/usr/lib/mysql-proxy/lua/cachefilter.lua
log-file=/var/log/mysql-proxy/daemon.log
keepalive=true
