[mysqld]
#
# * MySQL Cluster
#
#ndbcluster
#ndb-connectstring=

#
# * NDB Cluster
#
# See /usr/share/doc/mysql-cluster-server-*/README.Debian for more information.
#
# The following configuration is read by the NDB Data Nodes (ndbd/ndbmtd processes)
# not from the NDB Management Nodes (ndb_mgmd processes).
#
#[mysql_cluster]
#ndb-connectstring=

