# [ 组名 ]           方括号中的组名，通常对应于一个程序名
# [mysql]            指名MySQL客户机的选项组
# [mysqldump]        指名mysqldump的选项组
# [client]           允许指定用于所有客户机的程序选自嗯，也就是说，它是大家共有的。

# 标准的 mysql 客户端 同时看到[client]和[mysql]组
# 而mysqldump可以看到[client]和[mysqldump]

# 跟随在组名下面的任何选项都与该组有关
# 一个选项文件可能包含任何数量的组
# 后列出的组优先于先列出的组
# 如果一个给定的选项在一个程序可以查看到多个组中的选项的话，则最后一个选项将被采用

[client]
host=localhost
default-character-set=utf8

[mysql]
# 自动补全 表名 列名
auto-rehash
# 忽略 未带 where 参数的 delete 语句
safe-updates
default-character-set=utf8

# [ 是否生效 ? ]
#--------------------------------------------
[mysqld]
# 默认的表 所使用的 存储引擎
#default-table-type=innodb
default-character-set=utf8
#skip_grant_tables







