##cmon rrd config file
##port of mysql server holding cmon database
mysql_port=3306
##hostname/ip of mysql server holding cmon database
mysql_hostname=192.168.122.11
##password for 'cmon' user on  the 'mysql_hostname'
mysql_password=cmon
mysql_bindir=/usr/local//mysql/bin/
imagedir=/var/www/cmon/graphs/
rrdtool=/usr/bin/rrdtool
rrd_datadir=/var/lib/cmon/
