[mysqld]
binlog_cache_size = 4k
character-set-server = utf8
collation-server = utf8_general_ci
datadir = /var/lib/mysql
explicit_defaults_for_timestamp = 1
innodb_file_per_table = 1
innodb_flush_method = O_DIRECT
innodb_log_buffer_size = 256k
innodb_log_file_size = 1M
innodb_lock_wait_timeout = 500
join_buffer_size = 128
key_buffer_size = 8
read_buffer_size = 8200
read_rnd_buffer_size = 1
skip-performance_schema
socket = /var/lib/mysql/mysql.sock
sort_buffer_size = 32k
symbolic-links = 0
tmp_table_size = 1k
user = mysql

query_cache_size= 256M
query_cache_limit= 1M
max_connections	= 100
table_open_cache = 256
innodb_buffer_pool_size	= 500M
thread_cache_size= 4

[mysqld_safe]
log-error = /var/log/mysqld.log
pid-file = /var/run/mysqld/mysqld.pid

[client]
default-character-set = utf8
