# optimization
slow_query_log=1
slow_query_log_file=/var/log/mysql/mysql-slow.log
innodb_buffer_pool_size=8G
innodb_log_buffer_size=6M
innodb_thread_concurrency=8
innodb_flush_method=O_DIRECT
key_buffer_size=1G
innodb_additional_mem_pool_size=24M
table_open_cache=256
query_cache_size=512M
thread_cache_size=8
read_buffer_size=1GB
read_rnd_buffer_size=2GB
net_buffer_length=1M
tmp_table_size=64M
max_heap_table_size=64M
