
[mysqladmin]
user=root

[mysqld]
basedir=/Applications/jrubystack-1.7.5-0/mysql
datadir=/Applications/jrubystack-1.7.5-0/mysql/data
port=3307
socket=/Applications/jrubystack-1.7.5-0/mysql/tmp/mysql.sock
tmpdir=/Applications/jrubystack-1.7.5-0/mysql/tmp
bind-address=127.0.0.1

[mysqld_safe]
mysqld=mysqld.bin

[client]
port=3307
socket=/Applications/jrubystack-1.7.5-0/mysql/tmp/mysql.sock

[manager]
port=3307
socket=/Applications/jrubystack-1.7.5-0/mysql/tmp/mysql.sock
pid-file=/Applications/jrubystack-1.7.5-0/mysql/tmp/manager.pid
default-mysqld-path=/Applications/jrubystack-1.7.5-0/mysql/bin/mysqld.bin

