# Managed by Salt

{% from "oopss/mysql/map.jinja" import oopss_mysql_server_config with context %}

[mysqld]
{% for key, value in oopss_mysql_server_config.iteritems() -%}
{{ key }} = {{ value }}
{% endfor %}

