[mysql-proxy]
daemon = true
keepalive = true
proxy-address=192.168.4.243:3306
proxy-backend-addresses=192.168.4.249:3306
proxy-read-only-backend-addresses=192.168.4.202:3306
proxy-lua-script=/usr/local/lib/mysql-proxy/lua/rw-splitting.lua
user=mysql
log-level=debug
pid-file=/var/run/mysqld/mysql-proxy.pid
log-file=/var/log/mysql-proxy.log
