WEB2C = .;..;@ROOTDIR@
TEXPOOL = .;..;@ROOTDIR@
TEXINPUTS = .;..;@ROOTDIR@
TEXFORMATS = .;..;@ROOTDIR@
TEXFONTMAPS = .;..;@ROOTDIR@
VFFONTS = .;..;@ROOTDIR@
TFMFONTS = .;..;@ROOTDIR@
PKFONTS = .;..;@ROOTDIR@
TEXPSHEADERS = .;..;@ROOTDIR@
TEXFONTS = .;..;@ROOTDIR@
T1FONTS = .;..;@ROOTDIR@
AFMFONTS = .;..;@ROOTDIR@
TTFONTS = .;..;@ROOTDIR@
T42FONTS = .;..;@ROOTDIR@
MPMEMS = .;..;@ROOTDIR@
MPPOOL = .;..;@ROOTDIR@
MPINPUTS = .;..;@ROOTDIR@

MPXCOMMAND = makempx
MISSFONT_LOG = missfont.log
TEX_HUSH = none
shell_escape = f
openout_any = p
openin_any = a
parse_first_line = f

main_memory = 2000000
extra_mem_top = 0
extra_mem_bot = 0
font_mem_size = 1000000
font_max = 1000
hash_extra = 50000
pool_size = 1250000
string_vacancies = 90000
max_strings = 100000
pool_free = 47500
trie_size = 262000
buf_size = 200000
hyph_size = 1000
nest_size = 500
max_in_open = 15
param_size = 5000
save_size = 5000
stack_size = 1500
obj_tab_size = 300000
dest_names_size = 300000
error_line = 79
half_error_line = 50
max_print_line = 79
