{

"SourceFilePattern":".*\\.txt",
"SourceFileType":"TabDelimitedFile",

"BlockSizeStart":1,
"BlockSizeIncrFactor":2,
"BlockSizeMax":1,
"BlockSizeMax":20000,

"Properties": [

	{ "ID":"Base","Type":"String"}
],

"Summarisers": [



{ "PropID":"Base","IDExt":"avg","Method":"MostFrequent",
	"Encoder":{"ID":"FixedString", "Len":1}
}





]

}