# If log-error is not set, mysqld will write to
# 	/var/lib/mysql/$HOSTNAME.err
# which is not beneficial for rotating the log file if it grows
# in size.

[mysqld]
log-error       = /var/log/mysql/mysqld.log

