[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
max_allowed_packet=16M
max_connections=15
query_cache_size=16M
join_buffer_size=1M
table_open_cache=256
max_heap_table_size = 64M
tmp_table_size = 128M
# skip-innodb
thread_cache_size=4

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[mysqldump]
max_allowed_packet=16M
