[mysqld]
collation-server = utf8_general_ci
character-set-server = utf8
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
innodb_file_per_table
key_buffer = 16M
max_allowed_packet = 16M
thread_stack = 128K
thread_cache_size = 8
max_connections = 300
table_cache = 128
tmp_table_size = 256M
join_buffer_size = 5M

innodb_buffer_pool_size = 2G

query_cache_limit = 128M
query_cache_size = 256M

#innodb_force_recovery =1

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
