[mysqld]
datadir   = /home/dotcloud/data/mysqldb
log-error = /home/dotcloud/data/mysqldb/logs/mysqld.log

socket=/home/dotcloud/mysql/mssocket
pid-file=/home/dotcloud/mysql/mspid.pid
port=PORT_TESTBEDDB

[client]
socket=/home/dotcloud/mysql/mssocket
port=PORT_TESTBEDDB

[mysqladmin]
socket=/home/dotcloud/mysql/mssocket
port=PORT_TESTBEDDB
