[mysqld]
long_query_time = 5
slow-query-log

log-slow-admin-statements
log-queries-not-using-indexes

query_cache_type = 1
query_cache_limit = 1M
query_cache_size = 256M

innodb_buffer_pool_size = 512M

