[mysqld]
bind-address=0.0.0.0
datadir = /app/mysql
skip_name_resolve
#log-bin=mysql-bin                           #开启二进制日志功能
#server-id=1                                 #注意server-id的唯一性
#binlog-ignore-db = mysql,information_schema #忽略写入binlog日志的库
#relay-log=/app/mysql/relaylogs/relay-bin    #指定中继日志路径
#log_slave_updates=1                         #开启从库更新操作写入二进制日志功能*
#auto_increment_increment=2                  #双主复制中自增长字段的步长*
#auto_increment_offset=1                     #双主复制中自增长字段的起始值，主为1 副为2*
#sync_binlog = 1                             #可保证事务日志及时写入磁盘文件
#binlog-do-db = TestXXX                      #指定binlog日志记录哪个db
#slave-skip-errors                           #定义复制过程中从服务器可以自动跳过错误