[client]
default-character-set=utf8
key-buffer-size=100K
innodb-buffer-pool-size=5M
innodb-log-buffer-size=256K
innodb-additional-mem-pool-size=512K
sort-buffer-size=100K
myisam-sort-buffer-size=100K
slow-query-log=1
long-query-time=0