[mysqld]
user=mysql
socket=/var/lib/mysql/mysql.sock
port=3306
datadir=/var/lib/mysql
server-id=1
innodb_buffer_pool_size=64MB
gtid_mode=ON
log-bin
log-slave-updates
enforce-gtid-consistency
basedir=/usr
innodb-flush-log-at-trx-commit=2
performance-schema-instrument='%=ON'
symbolic-links=0
[mysqld_safe]
log-error=/var/lib/mysql/mysql.err
pid-file=/var/run/mysqld/mysqld.pid
