[mysqld]
max_allowed_packet     = 64MB
port                   = 3306
datadir                = /var/lib/mysql
skip-external-locking
key_buffer_size        = 16K
max_allowed_packet     = 1M
table_open_cache       = 4
sort_buffer_size       = 64K
read_buffer_size       = 256K
read_rnd_buffer_size   = 256K
net_buffer_length      = 2K
thread_stack           = 128K
server-id              = 1
slow_query_log         = ON
long_query_time        = 0.5
log_output             = TABLE
min_examined_row_limit = 100

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash
