# Example MySQL config
#
# This is for a system with memory = 1GB

# The following options will be passed to all MySQL clients
[client]
#password	= your_password
port		= 3306
socket		= /var/run/mysql/mysql.sock

# The MySQL server
[mysqld]
port		= 3306
socket		= /var/run/mysql/mysql.sock

skip-external-locking

key_buffer_size = 300M
max_allowed_packet = 16M
table_open_cache = 512
thread_cache_size = 300
query_cache_size= 32M

# Try number of CPU's*2 for thread_concurrency
thread_concurrency = 8

log-bin=mysql-bin

innodb_lock_wait_timeout = 50

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates

[myisamchk]
key_buffer_size = 128M
sort_buffer_size = 128M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
