[mysqld]
ssl-ca=/etc/mysql/ssl/ca.pem
ssl-cert=/etc/mysql/ssl/cert.pem
ssl-key=/etc/mysql/ssl/key.pem

[client]
ssl-ca=/etc/mysql/ssl/ca.pem
ssl-cert=/etc/mysql/ssl/cert.pem
ssl-key=/etc/mysql/ssl/key.pem

