# The following options will be read by MySQL client applications.
# Note that only client applications shipped by MySQL are guaranteed
# to read this section. If you want your own MySQL client program to
# honor these values, you need to specify it as an option during the
# MySQL client library initialization.
#
[client]
#password	= [your_password]
port		= 3306
socket		= /data/mysql/mysql.sock

# *** Application-specific options follow here ***

#
# The MySQL server
#
[mysqld]

# generic configuration options
port		= 3306
socket		= /data/mysql/mysql.sock
datadir		= /data/mysql
!includedir /etc/mysql/mysql.d/

# End of file, please edit specific configs in /etc/mysql/mysql.d
