[client]
port            = 3306
socket          = /tmp/mysql.sock


[mysqld]
port            = 3306
socket          = /tmp/mysql.sock
datadir         = /export/MySQLData


#--- GLOBAL ---#
character-set-server    = utf8
lower_case_table_names  = 1
log-output              = FILE
log-error               = /export/Log/mysql/mysql_error.log
general_log
general_log_file        = /export/Log/mysql/general.log
pid-file                = /tmp/mysql.pid
slow-query-log
slow_query_log_file     = /export/Log/mysql/mysql_slow.log
tmpdir                  = /tmp/
long_query_time         = 0.1
#sync_binlog             = 1

#--------------#

thread_concurrency      = 16
thread_cache_size       = 512
table_open_cache        = 16384
table_definition_cache  = 16384
sort_buffer_size        = 2M
join_buffer_size        = 2M
read_buffer_size        = 4M
read_rnd_buffer_size    = 4M
key_buffer_size         = 64M
myisam_sort_buffer_size = 64M
tmp_table_size          = 256M
max_heap_table_size     = 256M
open_files_limit        = 65535
#query_cache_size       = 2G


#--- NETWORK ---#
back_log                = 1024
max_allowed_packet      = 16M
interactive_timeout     = 2147483
wait_timeout            = 2147483
skip-external-locking
max-connections         = 510
max_user_connections    = 500
skip-name-resolve

#--- REPL ---#
server-id               = 1
log-bin                 = mysql-bin
binlog_format           = mixed
expire_logs_days        = 7
relay-log               = relay-log
replicate-ignore-db     = test
log_slave_updates
skip-slave-start


#--- INNODB ---#
default-storage-engine          = INNODB
innodb_data_home_dir            = /export/MySQLData
innodb_data_file_path           = ibdata1:1G;ibdata2:1G:autoextend
innodb_autoextend_increment     = 500
innodb_log_group_home_dir       = /export/MySQLData
innodb_buffer_pool_size         = 2G
innodb_additional_mem_pool_size = 128M
innodb_log_files_in_group       = 3
innodb_log_file_size            = 512M
innodb_log_buffer_size          = 8M
innodb_flush_log_at_trx_commit  = 1
innodb_lock_wait_timeout        = 120
innodb_flush_method             = O_DIRECT
innodb_max_dirty_pages_pct      = 75
innodb_io_capacity              = 1000
innodb_thread_concurrency       = 32
innodb_open_files               = 65535
innodb_file_per_table           = 1

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates
default-character-set=utf8

[myisamchk]
key_buffer_size = 128M
sort_buffer_size = 128M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
