[mysqld]
ignore-builtin-innodb
plugin_load=innodb=ha_innodb_plugin.so;innodb_locks=ha_innodb_plugin.so
user=root
max_connections=800
table_cache=2048
transaction_isolation=REPEATABLE-READ
#skip-locking
innodb_status_file=0
innodb_data_file_path=ibdata1:100M:autoextend
innodb_buffer_pool_size=10G
innodb_additional_mem_pool_size=20M
innodb_log_file_size=2000M
innodb_log_files_in_group=2
innodb_log_buffer_size=16M
innodb_support_xa=0
innodb_doublewrite=0
innodb_thread_concurrency=0
innodb_flush_log_at_trx_commit=1
innodb_flush_method=O_DIRECT
innodb_file_per_table
query_cache_size=0
query_cache_type=0
