[mysqld]
basedir = /usr/local
datadir = /usr/local/var/mysql
pid-file = /usr/local/var/mysql/mysql.pid
socket = /usr/local/var/mysql/mysql.sock
character-set-server = utf8
slow_query_log = ON
slow_query_log_file = mysql-slow.log
long_query_time = 0.1
max_allowed_packet = 32MB  #blog等の大量データをリストアする時に必要

[mysql]
default-character-set=utf8

[client]
socket = /usr/local/var/mysql/mysql.sock
default-character-set = utf8
