
[mysqladmin]
user=root

[mysqld]
basedir=/Applications/wordpress-4.0-1/mysql
datadir=/Applications/wordpress-4.0-1/mysql/data
port=3306
socket=/Applications/wordpress-4.0-1/mysql/tmp/mysql.sock
tmpdir=/Applications/wordpress-4.0-1/mysql/tmp
max_allowed_packet=16M
bind-address=127.0.0.1

character-set-server=UTF8
collation-server=utf8_general_ci
[mysqld_safe]
mysqld=mysqld.bin

[client]
port=3306
socket=/Applications/wordpress-4.0-1/mysql/tmp/mysql.sock

default-character-set=UTF8
[manager]
port=3306
socket=/Applications/wordpress-4.0-1/mysql/tmp/mysql.sock
pid-file=/Applications/wordpress-4.0-1/mysql/tmp/manager.pid
default-mysqld-path=/Applications/wordpress-4.0-1/mysql/bin/mysqld.bin

