[mysqld]
user=root
port=3306
max_connections=500
max_connect_errors=10 
table_cache=4096 
thread_cache=16
max_allowed_packet=1M
binlog_cache_size=1M
sort_buffer_size=64K
join_buffer_size=1M
max_heap_table_size=64M
tmp_table_size=64M 
transaction_isolation=REPEATABLE-READ 
skip-locking 
server-id=1 
#skip-falcon
skip-innodb
pbxt_record_cache_size=600M
pbxt_index_cache_size=600M
pbxt_log_cache_size=132M
pbxt_log_file_threshold=128M
pbxt_checkpoint_frequency=1G
pbxt_transaction_buffer_size=1MB
pbxt_log_buffer_size=2M
pbxt_data_file_grow_size=16MB
pbxt_row_file_grow_size=2MB
