[mysqld]
user=root
port=3306
max_connections=6500
max_connect_errors=10 
table_cache=2048 
max_allowed_packet=1048576 
binlog_cache_size=1048576 
max_heap_table_size=67108864 
sort_buffer_size=65536 
join_buffer_size=1048576 
thread_cache=16 
query_cache_type=0
query_cache_size=0 
ft_min_word_len=4 
max_prepared_stmt_count=1024000
transaction_isolation=REPEATABLE-READ 
tmp_table_size=64M 
server-id=1 
innodb_buffer_pool_size=8G
# was innodb_buffer_pool_size=16G

innodb_log_file_size=1900M
innodb_flush_log_at_trx_commit=2
innodb_doublewrite=1
innodb_flush_method=O_DIRECT
innodb_thread_concurrency=0
innodb_max_dirty_pages_pct=80
innodb_file_format=barracuda
innodb_file_per_table
max_connections=2000
table_cache=2000
#performance_schema
#performance_schema_max_mutex_instances=500000
#performance_schema_max_rwlock_instances=500000
#performance_schema_max_rwlock_classes=30

