[mysqld]
lc-messages-dir           = /usr/share/mysql
skip-name-resolve
bind-address              = 0.0.0.0
max_allowed_packet        = 16M
log_slow_queries          = /var/log/mysql/mysql-slow.log
long_query_time           = 2
log-queries-not-using-indexes

default-storage-engine    = innodb
innodb_buffer_pool_size   = 64MB
innodb_log_file_size      = 16M
innodb_flush_method       = O_DIRECT
innodb_file_per_table     = 1
innodb_flush_log_at_trx_commit = 0
innodb_log_buffer_size    = 8M
innodb_additional_mem_pool_size = 20M
innodb_thread_concurrency = 4
innodb_lock_wait_timeout  = 50


