[mysqld]
datadir=/home/peter/var/data
socket=/tmp/mysql.sock
user=peter
# skip-networking

[mysqld_safe]
log-error=/home/peter/var/mysql.log
pid-file=/home/peter/var/run/mysqld.pid

[client]
socket=/tmp/mysql.sock